{% extends 'base.html' %}
{% block title %}
Student Details
{% endblock title %}

{% block body %}
{% if del_msg %}
<div class="container-fluid container-sm my-5 pt-5" style="max-width:667px">
    <div class="alert alert-success">{{ del_msg }}</div>
</div>
{% elif del_fail %}
<div class="container-fluid container-md my-5 pt-5" style="max-width:667px">
    <div class="alert alert-danger">{{ del_fail }}</div>
</div>
{% endif %}
<div class="container my-3">
    <a href="/studForm" class="btn btn-primary">Insert New Student</a>
</div>
<div class="container-fluid container-md" style="max-width:667px">
    <form action="/students" method="get" autocomplete="off">
            <label for="usn-search" class="form-label text-white">Enter USN:</label>
            <input type="text" class="form-control" id="usn-search" placeholder="Search by USN" name="usn-search">
        <button type="submit" class="btn btn-primary mt-2">Search</button>
    </form>
</div>
<div class="container my-5">
    {% if data %}
    <table class="table table-dark table-hover table-bordered table-striped">
        <thead>
            <tr>
                {% for heading in headings %}
                <th>{{ heading }}</th>
                {% endfor %}
                <th>DELETE</th>
            </tr>
        </thead>
        <tbody>
        {% for row in data %}
        <tr>
            {% for item in row %}
            <td>{{ item }}</td>
            {% endfor %}
            <td>
                <form method="POST" action="/students/{{ row[0] }}">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% elif not del_msg and not del_fail %}
        <div class="alert alert-warning">{{ msg }}</div>
    {% endif %}
</div>
{% endblock body %}

